.page-authenticate {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 8px;
}

.authenticate-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 340px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-header {
  display: flex;
  justify-content: space-between;
}

.field label {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 600;
}

.field input {
  padding: 8px;
}

.submit-button {
  height: 40px;
  margin-top: 12px;
  padding: 8px;
  color: white;
  background: linear-gradient(
    180deg,
    var(--light-border-colour) 0%,
    var(--main-border-colour) 10%,
    var(--dark-border-colour) 90%
  );
  border: none;
}
