:root {
  --gradient-direction: 135deg;
}

.icon {
  width: 24px;
}

.button {
  background: linear-gradient(
    var(--gradient-direction),
    #3d8be8 0%,
    #115fc7 100%
  );
  border: 1px solid white;
  border-radius: 4px;
  padding: 0;
  margin: 4px;
}

.button.red {
  background: linear-gradient(
    var(--gradient-direction),
    #ea9b8a 0%,
    #e41c0d 100%
  );
}

.button.yellow {
  background: linear-gradient(
    var(--gradient-direction),
    #e8bc7c 0%,
    #ddad12 100%
  );
}

.button.grey {
  border: 1px solid #656464;
  padding: 8px;
  background: linear-gradient(
    var(--gradient-direction),
    #f2f6f6 0%,
    #c9d8ed 100%
  );
}

.icon.logout {
  padding: 2px;
}
