.chat-window {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  height: 100%;
  overflow-y: auto;
  margin: 4px auto;
  width: min(100%, 800px);
}

.close-button {
  margin-left: auto;
}

.recipients {
  margin: 20px;
  display: flex;
  gap: 4px;
}

.send-message-area {
  display: flex;
  padding: 8px;
  border: none;
  background-color: white;
}

.message-input {
  border: none;
  flex: 1;
}
