.chat-window {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.recipients {
  display: flex;
  gap: 4px;
}
