.edit-profile {
  margin: 8px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-image-select {
  display: flex;
  align-items: center;
  gap: 4px;
}

.image-preview {
  width: 40px;
  height: 40px;
}
