.message-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.message {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.message.right {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.other-user {
  display: flex;
  align-items: flex-start;
}

.current-user {
  align-items: flex-end;
}
