.message-list {
  list-style: none;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.message {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
}

.message.right {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.profile-image {
  grid-row: 2/3;
}

.message.right .profile-image {
  grid-column: 2/3;
}

.display-name {
  display: flex;
  gap: 5px;
  grid-column: 2/3;
}

.message.right .display-name {
  grid-column: 1/2;
}

.text {
  grid-row: 2/3;
}

.start-of-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}
