:root {
  --current-user-message-background: #377dee;
  --other-user-message-background: #f9fcff;
}

.message-list {
  list-style: none;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.message {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 4px;
}

.message.right {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.profile-image {
  grid-row: 2/3;
}

.message.right .profile-image {
  grid-column: 2/3;
}

.display-name {
  display: flex;
  gap: 5px;
  grid-column: 2/3;
}

.message.right .display-name {
  grid-column: 1/2;
}

.text {
  padding: 6px;
  grid-row: 2/3;
  background-color: var(--other-user-message-background);
  border-radius: 8px;
  max-width: 300px;
}

.message.right .text {
  background-color: var(--current-user-message-background);
  color: white;
}

.start-of-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}
