.profile {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 4px;
  background: linear-gradient(
    180deg,
    var(--light-border-colour) 0%,
    var(--main-border-colour) 10%,
    var(--dark-border-colour) 90%
  );
  color: white;
  gap: 16px;
}

.title {
  display: flex;
  justify-self: center;
  align-items: flex-start;
  gap: 8px;
}

.profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile-title {
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.edit-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}

.users-button {
  height: 100%;
  width: 80px;
  border-radius: 4px;
  background-color: #3980f4;
  background: linear-gradient(
    180deg,
    var(#5694f7) 0%,
    var(#3980f4) 10%,
    var(--dark-border-colour) 90%
  );
  color: white;
  border: none;
}

.logout-button {
  margin-left: auto;
}
