.profile {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background: linear-gradient(
    180deg,
    var(--light-border-colour) 0%,
    var(--main-border-colour) 10%,
    var(--dark-border-colour) 90%
  );
  color: white;
}

.title {
  display: flex;
  justify-self: center;
  align-items: flex-start;
  gap: 8px;
}

.profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.edit-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}
