.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.users-list-item {
  align-items: flex-start;
}
