.user-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}

.user-title.list-item {
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}
